* {
    padding: 0;
    margin: 0;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
:focus {
    outline:none;
}

/* Headers */
h1 {
    font-family: 'Arimo', serif;
    font-size: 25px;
    font-weight: bold;
}
h2 {
    font-family: 'Lato', serif;
    font-size: 17px;
    font-weight: 400;
}
h3 {
    font-family: 'Lato', serif;
    font-size: 17px;
    font-weight: 400;
    opacity: .5;
}
h4, h6 {
    font-family: 'Lato', serif;
    font-size: 15px;
    font-weight: 400;
    opacity: .6;
}
h5 {
    font-family: 'Lato', serif;
    font-size: 30px;
    font-weight: 400;
    margin: 30px 0 0;
}
h7 {
    display: block;
    font-family: 'Lato', serif;
    font-size: 17px;
    font-weight: 400;
    padding: 30px 0 0;
}
h8 {
    display: block;
    font-family: 'Lato', serif;
    font-size: 22px;
    font-weight: 400;
/*    text-decoration: underline;*/
/*    color: #0b6ab0;*/
}

span.contact-items {
    display: inline-block;
    font-family: 'Lato', serif;
    font-size: 22px;
    font-weight: 400;
    margin-right: 5px;
    opacity: .6;
}

.contact-items.blue {
    color: #0b6ab0;
}
.contact-items.green {
    color: #1A5928;
}
.contact-items.yellow {
    color: #B87E3D;
}
.contact-items.red {
    color: crimson;
}
p {
    font-family: 'Lato', serif;
    font-size: 17px;
    color: black;
    opacity: .5;
    margin: 20px 0;
    line-height: 140%;
}
p.outline {
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    opacity: .7;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.ital {
    font-style: italic;
}
.red-title {
    display: inline-block;
/*    max-width: 65%;*/
    vertical-align: top;
    color: crimson;
}
.blue-title {
    display: inline-block;
/*    max-width: 65%;*/
    vertical-align: top;
    color: #0b6ab0;
}
.green-title {
    display: inline-block;
/*    max-width: 65%;*/
    vertical-align: top;
    color: #1A5928;
}
.yellow-title {
    display: inline-block;
/*    max-width: 65%;*/
    vertical-align: top;
    color: #B87E3D;
}
.article-ital {
    font-style: normal;
    font-size: 17px;
    font-weight: 400;
    color: crimson;
}
.article-link {
    font-family: 'Lato', serif;
    display: inline-block;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 30px;
    opacity: .5;
    transition: opacity .2s ease;
}
.article-link.blue {
    color: #0b6ab0;
}
.article-link.green {
    color: #1A5928;
}
.article-link.yellow {
    color: #B87E3D;
}
.article-link.red {
    color: crimson;
}
.article-link:hover {
    opacity: 1;
}
/* MAIN BODY SECTION*/
.main-container {
    width: 100%;
    box-sizing: border-box;
    padding: 0 7%;
    padding-bottom: 10%;
}

/* NAVIGATION */
.nav-wrap {
    position: fixed;
    padding: 100px 0 0;
}
.nav-wrap a {
    text-decoration: none;
    color: black;
}
.item-wrap {
    padding: 30px 0 0;
}
.nav-item {
    display: block;
    margin-top: 10px;
    opacity: .5;
    transform:translateX(0px);
    transition: opacity .15s ease, transform .2s ease;
}
.nav-item:hover {
    opacity: 1;
    transform:translateX(5px);
}
.menu {
    padding-left: 30px;
    padding-top: 50px;
}
.menu a {
    text-decoration: none;
    color: black;
}

/* Mobile navigation */
.top-nav-wrap { 
    position: fixed;
    display: none;
    padding: 30px 0 3%;
    width: 86%;
    z-index: 11;
    box-sizing: border-box;
    background: white;
}
.top-nav-wrap a{
    text-decoration: none;
    color: black;
}
/* hamburger menu */
.hamburger {
    display: inline-block;
    float: right;
    cursor: pointer;
    padding-top: 10px;
    height: 10px;
    width: 30px;
}
.menu-button {
    position: absolute;
    width: 0px;
    height: 0px;
    background: black;
    transition: all .2s ease;
}
.menu-button:before,
.menu-button:after 
{
    content:'';
    position: absolute;
    width: 25px;
    height: 2px;
    background: black;
    transition: all .2s ease;
}
.menu-button:before {
    top: -3px;
}
.menu-button:after {
    top: 4px;
}
.menu-button.active {
    background: rgba(0,0,0,0);
}
.menu-button.active:before {
    top: 0px;
    transform: rotate(45deg);
}
.menu-button.active:after {
    top: 0px;
    transform: rotate(-45deg);
}
.menu {
    width: 0px;
    height: 100vh;
    display: block;
    position: fixed;
    background: white;
    right: 0;
    top: 0;
    transition: all .3s ease;
    z-index: 10;
}
.menu.open {
    width: 250px;
}

/* CLOCK */
.time {
    margin-top: 100px;
    font-size: 16px;
    font-family: 'Lato', serif;
    opacity: .5;
}
#display { 
    font-family: 'Lato', serif;
    opacity: .5;
    margin-top: 5px;
}
#display-menu { 
    font-family: 'Lato', serif;
    opacity: .5;
    margin-top: 5px;
}


/* BODY SECTION */
.main-section-wrap {
    padding: 100px 0 0 20%;
    width: 100%;
    box-sizing: border-box;
}
.work-wrap {
    margin: 15px 0;
}
.work-title {
    text-decoration: none;
    color: black;
}
.work-content {
    width: 70%;
    display: none;
    opacity: 0;
    transition: opacity .5s ease;
}
.work-content.active {
    opacity: 1;
}
.work-date {
/*    float: right;*/
    display: inline-block;
    vertical-align: top;
}
/* Contact Section */
.info-wrap {
    width: 70%;
}
.big-info {
    font-family: 'Lato', serif;
    font-size: 20px;
    color: black;
    margin-top: 10px;
}
.links {
    font-family: 'Lato', serif;
    font-size: 20px;
    color: black;
    margin-right: 20px;
    text-decoration: none;
    opacity: .5;
    transition: opacity .4s ease;
}
.links:hover {
    opacity: 1;
}

/* animation */
.main-section-wrap li {
    list-style: none;
	opacity: 0;
	animation: fadeIn .6s ease-in both;
}
h9 span {
    opacity: 0;
    animation: fadeInColor .3s ease-in both;
}
.main-section-wrap li:nth-child(2) {
	animation-delay: .03s;
}
.main-section-wrap li:nth-child(3) {
	animation-delay: .06s;
}
.main-section-wrap li:nth-child(4) {
	animation-delay: .09s;
}
.main-section-wrap li:nth-child(5) {
	animation-delay: .12s;
}
.main-section-wrap li:nth-child(6) {
	animation-delay: .15s;
}
.main-section-wrap li:nth-child(7) {
	animation-delay: .18s;
}
.main-section-wrap li:nth-child(8) {
	animation-delay: .21s;
}
.main-section-wrap li:nth-child(9) {
	animation-delay: .24s;
}
.main-section-wrap li:nth-child(10) {
	animation-delay: .27s;
}
.main-section-wrap li:nth-child(11) {
	animation-delay: .30s;
}
.main-section-wrap li:nth-child(12) {
	animation-delay: .33s;
}
.main-section-wrap li:nth-child(13) {
	animation-delay: .36s;
}
.main-section-wrap li:nth-child(14) {
	animation-delay: .39s;
}
.main-section-wrap li:nth-child(15) {
	animation-delay: .42s;
}
.main-section-wrap li:nth-child(16) {
	animation-delay: .45s;
}
.main-section-wrap li:nth-child(17) {
	animation-delay: .48s;
}
.main-section-wrap li:nth-child(18) {
	animation-delay: .51s;
}
.main-section-wrap li:nth-child(19) {
	animation-delay: .54s;
}
.main-section-wrap li:nth-child(20) {
	animation-delay: .57s;
}
.main-section-wrap li:nth-child(21) {
	animation-delay: .60s;
}
.main-section-wrap li:nth-child(22) {
	animation-delay: .63s;
}
.main-section-wrap li:nth-child(23) {
	animation-delay: .66s;
}
.main-section-wrap li:nth-child(24) {
	animation-delay: .69s;
}
.main-section-wrap li:nth-child(25) {
	animation-delay: .72s;
}
.main-section-wrap li:nth-child(26) {
	animation-delay: .75s;
}
h9 span:nth-child(1) {
    animation-delay: .1s;
}
h9 span:nth-child(2) {
    animation-delay: .2s;
}
h9 span:nth-child(3) {
    animation-delay: .3s;
}
h9 span:nth-child(4) {
    animation-delay: .4s;
}


@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, 5px, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeInColor {
	from {
		opacity: 0;
		transform: translate3d(0, 5px, 0);
	}
	to {
		opacity: .6;
		transform: translate3d(0, 0, 0);
	}
}
@media screen and (max-width: 1000px){
    .nav-wrap {
        display: none;
    }
    .top-nav-wrap {
        display: block;
    }
    .main-section-wrap {
        padding: 100px 0 0 0;
    }
}
@media screen and (max-width: 650px){
    .info-wrap {
        width: 100%;
    }
    .work-content {
        width: 100%;
    }
    h1 {
        font-size: 22px;
    }
    h5 {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    .links {
        font-size: 15px;
    }
    .big-info {
        font-size: 15px;
    }
    h6 {
        font-size: 15px;
    }
}
